[submodule "frontend"]
	path = frontend
	url = https://github.com/Aloybuilds/physio-voice-agent-frontend.git
	branch = bmj-demo
[submodule "contracts"]
	path = contracts
	url = https://github.com/deepgram/starter-contracts.git
